spring:
  datasource:
    url: jdbc:mysql://localhost:3306/woorimap
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    baseline-on-migrate: true

  redis:
    host: localhost
    password: local
    port: 6379

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    org.hibernate.descriptor.sql: debug

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY_ID}
      secret-key: ${AWS_SECRET_ACCESS_KEY}
    s3:
      bucket: wooriemap
    region:
      static: ap-northeast-2
    stack:
      auto: false
