version: "3.8"
services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=woorimap
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=woorimap
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
  redis:
    image: redis:alpine
    command: redis-server --port 6379
    container_name: redis
    labels:
      - "name=redis"
      - "mode=standalone"
    ports:
      - 6379:6379
#
